<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/7-9-accounts.css" />
    {{!-- <link rel="stylesheet" type="text/css" href="css/3-foodlist.css" />
    <link rel="stylesheet" type="text/css" href="css/4-pantry-page.css" />
    <link rel="stylesheet" type="text/css" href="css/5-Meal-Alerts.css" />
    <link rel="stylesheet" type="text/css" href="css/6-meal-maker.css" /> --}}
       {{!-- This is the font i have used, sonsie --}}
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html