<!DOCTYPE html>
<html>

<head>
    
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/3-foodlist.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/6-meal-maker.css" /> <!-- link to the style sheet/page -->
        {{!-- This again is the font i have used through out the pages, Sonsie --}}
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body>
    {{{body}}}
</body>

</html