<div class="container">
  <!-- this class gives the attributes the same style -->
  <div class="login-container">
    <div class="login-Header">
      <h1 class="page-name-1">Forget Me Not.</h1>
      <img src="img/Two Small Flowers with Logo 1.png" class="my-new-class" height="350pxpx" width="350px" ; />
    </div>
    <div class="login-inputs">


      <div class="inputrow">
        <div class="password-container">
          <img src="img/env-icon1.png" class="icon" />

          <input type="text" class="password" placeholder="Username">
        </div>
        <hr width=90%>




      </div>




      <div class="inputrow">
        <div class="password-container">
          <img src="img/Padlock Best.png" class="icon" />

          <input type="password" class="password" placeholder="Password">
        </div>
        <hr width=90%>

        <!-- <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->
        <div class="Forgot Password" onclick="location.href='8-reset-password'">Forgot Password?</div>

      </div>
    </div>

    <div class="login-button-container">
      <button class="button button1" onclick="location.href='3-food-list'">Sign In </button>
      <button class="button button2" onclick="location.href='7-accounts-page'">Sign Up </button>

    </div>

    <h1 class="login-strap-name"> "Your Food At it's Best"</h1>


    {{!-- </div  --}}

  </div>


</div>