<div class="container">
    <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header height-lists">
            <h1 class="account-text">Account Details : Sign Up</h1>
            <img src="img/Two Small Flowers with Logo 1.png" class="my-new-class" height="300pxpx" width="300px" ; />
        </div>
  
         {{!-- this form allows the data entered to be sent Posted to the server --}}
        <form action="/signup" method="POST">

             {{!-- this is the div for the page inputs --}}
            <div class="login-inputs">

                 <div class="inputrow-7">
                    <div class="password-container">
                        
                        {{!-- This is the First Name line  --}}
                       <input name="firstName" type="text" class="password sign-up-boxes" placeholder="First Name">
                 </div>

                  {{!-- This is the width of text for the First Name --}}
                 <hr width=70%>

                </div>

                 <div class="inputrow-7">

                     {{!-- The is the container for this last name row --}}
                    <div class="password-container">
                        
                        {{!-- This is the last Name line --}}
                        <input name="lastName" type="text" class="password sign-up-boxes" placeholder="Last Name">
                   
                 </div>

                 {{!--  Last Name line length --}}
                 <hr width=70%>

                </div>


                <div class="inputrow-7">
                    <div class="password-container">
                        
                        {{!-- This is the line to enter your email --}}
                        <input name="emailAddress" type="text" class="password sign-up-boxes" placeholder="Email Address">
                 </div>

                 {{!-- Email address line length --}}
                 <hr width=70%>

                </div>

                <div class="inputrow-7">
                    <div class="password-container">

                        {{!-- This is the line to enter your password --}}
                        <input name="password" type="text" class="password sign-up-boxes" placeholder="Password">
                 </div>

                 {{!--  Last Name line length --}}
                 <hr width=70%>

                </div>

                <div class="inputrow-7">
                    <div class="password-container">

                        {{!-- This is your line to enter confirm password --}}
                        <input type="text" class="password sign-up-boxes" placeholder="Confirm Password">
                 </div>

                 {{!--  Last Name line length --}}
                 <hr width=70%>

                </div>
            </div>

            <div class="login-button-container">

                {{!-- sign up button  --}}
                <input type="submit" value="signup" class="button button1 button-7">


            </div>
        </form>

        {{!-- This is the Strap Line --}}
        <h1 class="login-strap-name"> "Your Food At it's Best"</h1>

    </div>
  </div>
</div>