<div class="container">
    <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header height-lists">
            <h1 class="account-text">Account Details : Sign Up</h1>
            <img src="img/Two Small Flowers with Logo 1.png" class="my-new-class" height="300pxpx" width="300px" ; />
        </div>



        <form action="/signup" method="POST">
            <div class="login-inputs">


                <div class="inputrow-7">
                    <div class="password-container">
                        <!-- <img src="img/env-icon1.png" class="icon"/> -->

                        <input name="firstName" type="text" class="password" placeholder="First Name">
                    </div>
                    <hr width=66%>




                </div>

                <div class="inputrow-7">
                    <div class="password-container">
                        <!-- <img src="img/env-icon1.png" class="icon"/> -->

                        <input name="lastName" type="text" class="password" placeholder="Last Name">
                    </div>
                    <hr width=66%>




                </div>


                <div class="inputrow-7">
                    <div class="password-container">
                        <!-- <img src="img/env-icon1.png" class="icon"/> -->

                        <input name="emailAddress" type="text" class="password" placeholder="Email Address">
                    </div>
                    <hr width=66%>




                </div>

                <div class="inputrow-7">
                    <div class="password-container">
                        <!-- <img src="img/env-icon1.png" class="icon"/> -->

                        <input name="password" type="text" class="password" placeholder="Password">
                    </div>
                    <hr width=66%>




                </div>




                <div class="inputrow-7">
                    <div class="password-container">
                        <!-- <img src="img/Padlock Best.png" class="icon"/> -->

                        <input type="text" class="password" placeholder="Confirm Password">
                    </div>
                    <hr width=66%>

                    <!-- <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->


                </div>
            </div>

            <div class="login-button-container">
                <input type="submit" value="signup" class="button button1 button-7">


            </div>
        </form>
        <h1 class="login-strap-name"> "Your Food At it's Best"</h1>


    </div>



</div>
</div>