<head>
  <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
  <link rel="stylesheet" type="text/css" href="css/4-pantry-page.css" /> <!-- link to the style sheet/page -->

  {{!-- This is the font i have used for this pages  --}}
  <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="login-container">

      <div class="login-Header-name-food-list">

        {{!-- This is my title for the page --}}
        <h1 class="page-name4">My Pantry</h1>

        {{!-- This is the page logo and discription --}}
        <div class="flower-paragraph">
          <img src="img/Two Small Flowers with Logo 1.png" class="flower-page3" height="300px" width="300px" ; />
          <p class="paragraph-food-list" style="font-size:25px">
            Simply scroll through "My Pantry" to see what food you have and their use by dates, or click and send to
            "Meal Alerts" to give you a head's
            up 24-48 hours before they need to be used, helping with food management, allowing you to plan ahead with
            your shopping, meals and times.</p>
        </div>

        {{!-- this is the man in fridge image --}}
        <img src="img/Man-in-fridge1.png" class="Man-in-fridge-2" height="200px" width="200px" ; />

        <div class="pantry-display-boxes">
          <div class="pantry-display-container">

            {{!-- This is one of the pantry Boxes --}}
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">

                {{!-- This is the food image --}}
                <div class="food-list-image">
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>

                {{!-- This is the text inside the food box --}}
                <div class="food-input-container">

                  <div class="input-title">Vegtable/Perishable best before 26/10/2020 Use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>

              </div>
            </div>

            {{!-- This is the same for the rest of the boxes used for the contents --}}

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e potatoes --}}
                  <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e beans --}}
                  <img src="img/beans1.png" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Non/Perishable Best before 31/12/2021 Use By 11/12/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Quorn --}}
                  <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Meat/Perishable When Frozen Best before 31/12/2020 Use By 2/03/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Pizza --}}
                  <img src="img/Pizza1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Pizza/Perishable When Frozen Best before 31/12/2020 Use By 8/2/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e broccoli --}}
                  <img src="img/broccoli.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Burgers/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Burgers/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Veg --}}
                  <img src="img/veg1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e bacon --}}
                  <img src="img/ bacon1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Bacon/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable best before 26/10/2020 Use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e potatoes --}}
                  <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e beans --}}
                  <img src="img/beans1.png" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Non/Perishable Best before 31/12/2021 Use By 11/12/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Quorn --}}
                  <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Meat/Perishable When Frozen Best before 31/12/2020 Use By 2/03/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>
            

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e pizza --}}
                  <img src="img/Pizza1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Pizza/Perishable When Frozen Best before 31/12/2020 Use By 8/2/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e broccoli --}}
                  <img src="img/broccoli.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Burgers/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Burgers/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e veg --}}
                  <img src="img/veg1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">
                  <div class="input-title">Vegtable/Perishable Best Before 26/10/2020 use by 28/10/2020</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                   {{!-- This is the image for this box i.e bacon--}}
                  <img src="img/ bacon1.jpeg" class="icon-for-food-list">
                </div>
                <div class="food-input-container">

                  
                  <div class="input-title">Bacon/Perishable When Frozen Best before 31/12/2020 Use By 10/02/2021</div>
                  <div class="comment-line"></div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>


      <div class="login-button-container buttons-container-page3">

        {{!-- Meal Alerts and Back Buttons --}}
        <button class="button button1" onclick="location.href='5-Meal-Alerts'">Meal Alerts</button>

        <button class="button button1" onclick="location.href='3-food-list'">Back</button>


       {{!-- Page Strap Line --}}
        <h1 class="login-strap-name"> "Your Food At it's Best"</h1>

      </div>
    </div>
  </div>

</body>

</html