<head>
  <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
<link rel="stylesheet" type="text/css" href="css/4-pantry-page.css" /> <!-- link to the style sheet/page -->
<link rel="stylesheet" type="text/css" href="css/5-Meal-Alerts.css" />

  <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap"rel="stylesheet">
</head><body>
<div class="container"><!-- this class gives the attributes the same style -->
  

     {{!-- Container for all the pantry entries  --}}
  <div class="login-container">
    
      <div class="login-Header-name-food-list">
          <h1 class="page-name5">Meal Alerts</h1>
          

          <div class="flower-paragraph">

            {{!-- Flower image and text paragraph --}}
            <img src="img/Two Small Flowers with Logo 1.png"class="flower-page3" height="300px" width="300px" ; /><p class="paragraph-food-list"style="font-size:25px">
              Scroll through your "Meal Alert's", hi-light your selection's and click and send to "Meal Maker", where you can turn your ingredients in to recipes based on your food choices, or return to "My Pantry" and add more food from your latest shop.</p>
              
               
              
          </div>
          
          {{!-- Image of man sat eating --}}
          <img src="img/man-eating.png"class="Man-sat-eating-2" height="300px" width="300px" ; />
      
          
        {{!-- this is the div that covers all of the box entries --}}
         <div class="pantry-display-boxes">

           
           <div class="clock-hours">

          {{!-- This sets up Hours for 24 boxes --}}
           <div class="clock">24 Hours</div>
           <div class="pantry-display-container">
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e carrots --}}
                <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e potatoes --}}
                <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div> 
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e beans --}}
                <img src="img/beans1.png" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e quorn --}}
                <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Pizza --}}
                <img src="img/Pizza1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e broccoli --}}
                <img src="img/broccoli.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Burgers --}}
                <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e carrots --}}
                <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Burgers --}}
                <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image"> 

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>

          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e carrots --}}
                <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e potatoes --}}
                <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div> 
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e beans --}}
                <img src="img/beans1.png" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Quorn --}}
                <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">
                
                {{!-- This is the image for this box i.e Pizza --}}
                <img src="img/Pizza1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e broccoli --}}
                <img src="img/broccoli.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Burgers --}}
                <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e carrots --}}
                <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e Burgers --}}
                <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers--}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>

          <div class="food-list-boxes-buttons">
            <div class="food-list-container">
              <div class="food-list-image">

                {{!-- This is the image for this box i.e peppers --}}
                <img src="img/peppers.jpeg" class="icon-for-food-list">
              </div>
              
            </div>
          </div>
          
          
          
           
          </div>

        </div>
        <div class="clock-hours">

         {{!-- This sets up Hours for 48 boxes --}} 
        <div class="clock">48 Hours</div>
          <div class="pantry-display-container">
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e potatoes--}}
                  <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div> 
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e beans --}}
                  <img src="img/beans1.png" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Quorn --}}
                  <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Pizza --}}
                  <img src="img/Pizza1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e broccoli --}}
                  <img src="img/broccoli.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e potatoes --}}
                  <img src="img/potatoes 1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div> 
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e beans --}}
                  <img src="img/beans1.png" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Quorn --}}
                  <img src="img/Quorn-Meat-Icon-1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Pizza --}}
                  <img src="img/Pizza1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e broccoli --}}
                  <img src="img/broccoli.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Meatless-Burgers-1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e carrots --}}
                  <img src="img/carrots-bag.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e Burgers --}}
                  <img src="img/Veg-Burgers1.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>

            <div class="food-list-boxes-buttons">
              <div class="food-list-container">
                <div class="food-list-image">

                  {{!-- This is the image for this box i.e peppers --}}
                  <img src="img/peppers.jpeg" class="icon-for-food-list">
                </div>
                
              </div>
            </div>
            
            
             
            </div>

           
          </div>

        </div>
        </div>

    
</div>


      <div class="login-button-container buttons-container-page3">
             {{!-- The buttons for Meal Maker and My Pantry --}}
              <button class="button button1" onclick="location.href='4-Pantry-page'">My Pantry</button>
              <button class="button button2" onclick="location.href='6-meal-maker'">Meal Maker</button>
              
</div>
     {{!-- The page Strap Line  --}}
     <h1 class="login-strap-name"> "Your Food At it's Best"</h1>


    </div>
    

    
  </div>
</div>

  
    
  </body>
    </html