<div class="container">
  <!-- this class gives the attributes the same style -->
  <div class="login-container-page-6">
    <div class="login-container-page-6"></div>

      {{!-- image of Man stirring food  --}}
    <div class="login-Header-name-food-list"><img src="img/Man holding Plate2 right.png" class="man-hold-plate"
        height="70px" width="70px" ; />
      <h1 class="Login-name-6">Meal Maker</h1>
      <div class="ingrediants">
        <div class="named-ingrediants">Add Ingredients</div>
      </div>
      <div class="flower-paragraph">
        <img src="img/Two Small Flowers with Logo 1.png" class="flower-page3" height="300px" width="300px" ; />
        <p class="paragraph-food-list" style="font-size:25px">Finding food recipes couldn't
          be easier, once you have entered what food you have to hand, in "Add Ingredients",
          click the "Find Recipe" Button and you will be re-directed to hundreds of meal ideas based on your entries,
          or click on "List Food" to start over and enter more food items.</p>


      </div>

      <!-- <img src="img/Man-in-fridge1.png"class="Man-in-fridge" height="250px" width="250px" ; /> -->
      <img src="img/man-serving-food.png" class="Man-in-fridge-page-6" height="250px" width="250px" ; />


       {{!-- The Form which allows for the entries to go to the server --}}
      <form action="/addmeal" method="POST">

        <div class="food-list-boxes-buttons-page-6">

          {{!-- Code for the meal aker boxes --}}
          <div class="food-list-container">
            <div class="food-list-image">
              {{!-- this is the fish image--}}
              <img src="img/fish-left.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Fish</div>
              <input type="text" name="fish" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>


          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Steak image--}}
              <img src="img/Steak-icon.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Meats</div>
              <input type="text" name="meats" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>


          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Veg Box image--}}
              <img src="img/Veg-Box2.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Vegetables</div>
              <input type="text" name="vegetables " class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the fruits image--}}
              <img src="img/Fruits-.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Fruits</div>
              <input type="text" name="fruits" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Dairy image--}}
              <img src="img/Dairy.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Dairy</div>
              <input type="text" name="dairy" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>



          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Soup Bowl image--}}
              <img src="img/Soup-bowl.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Soups</div>
              <input type="text" name="soups" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Salt-Pepper image--}}
              <img src="img/Salt-Pepper.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Seasonings</div>
              <input type="text" name="seasonings" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Beverages image--}}
              <img src="img/Beverages.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Berverages</div>
              <input type="text" name="beverages" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          <div class="food-list-container">
            <div class="food-list-image">

              {{!-- this is the Vegan Bowl image--}}
              <img src="img/vegan-bowl-best.png" class="icon-for-food-list">
            </div>
            <div class="food-input-container">

              <div class="input-title">Vegans</div>
              <input type="text" name="vegans" class="input-box-page3">

              <div class="comment-line">


              </div>
            </div>

          </div>

          {{!-- Input line to send info to server --}}
          <input type="Submit" value="Save Meal" class="save-meal-box">
        </div>
      </form>

      {{!-- This is the container for the List Food, Find Recipes buttons --}}
      <div class="login-button-container buttons-container-page3">
        <button class="button button1" onclick="location.href='3-food-list'">List Food </button>

        {{!-- This class and ref will take you to more recipes pages --}}
        <button class="button button2" onclick="location.href='https://www.supercook.com'">Find recipes</button>

        {{!-- <button class="button button1" onclick="location.href='3-food-list'">list Food </button>
          <input type="List Food" value="List Food" class="save-food-button"> --}}


      </div>
      
      {{!-- This is the Strap Line --}}
      <h1 class="login-strap-name"> "Your Food At it's Best"</h1>


    </div>



  </div>
</div>