<head>
    <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
    <link rel="stylesheet" type="text/css" href="css/7-9-accounts.css" />
    
  
    <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
  </head><body>
  <div class="container">  <!-- this class gives the attributes the same style -->
    <div class="login-container">
        <div class="login-Header height-lists">
            <h1 class="account-text">Account Details : Sign Up</h1>
            <img src="img/Two Small Flowers with Logo 1.png"class="my-new-class" height="300pxpx" width="300px" ; /></div>

            


        <div class="login-inputs">
           
      
        <div class="inputrow-7"><div class="password-container">
            <!-- <img src="img/env-icon1.png" class="icon"/> -->
            
            <input type="text" class="password sign-up-boxes" placeholder="First Name"> 
            </div>
            <hr width= 70%>
            
            
           

        </div>

        <div class="inputrow-7"><div class="password-container">
            <!-- <img src="img/env-icon1.png" class="icon"/> -->
            
             <input type="text" class="password sign-up-boxes" placeholder="Last Name">
            </div>
            <hr width= 70%>
            
            
           

        </div>


        <div class="inputrow-7"><div class="password-container">
            <!-- <img src="img/env-icon1.png" class="icon"/> -->
            
             <input type="text" class="password sign-up-boxes " placeholder="Email Address">
            </div>
            <hr width= 70%>
            
            
           

        </div>

        <div class="inputrow-7"><div class="password-container">
            <!-- <img src="img/env-icon1.png" class="icon"/> -->
            
             <input type="text" class="password sign-up-boxes" placeholder="Password">
            </div>
            <hr width= 70%>
            
            
           

        </div>
    

        
        
          <div class="inputrow-7"><div class="password-container">
            <!-- <img src="img/Padlock Best.png" class="icon"/> -->
            
             <input type="text" class="password sign-up-boxes" placeholder="Confirm Password">
            </div>
            <hr width= 70%>
            
            <!-- <div class="password-Reset" id="Forgot-Password">Forgot Password?</div> -->
           

         </div>
    </div>
          
        <div class="login-button-container">

              <button class="button button1 button-7" onclick="location.href='3-food-list'">Submit </button>
              
  </div>
  
       <h1 class="login-strap-name"> "Your Food At it's Best"</h1>
  
  
      </div<a>
      
  
      
    </div>
  </div>
  
    
      
    </body>
      </html