<head>
  <link rel="stylesheet" type="text/css" href="css/1-MyStyle.css" /> <!-- link to the style sheet/page -->
  <link rel="stylesheet" type="text/css" href="css/2-login-page.css" /> <!-- link to the style sheet/page -->
  <link rel="stylesheet" type="text/css" href="css/7-9-accounts.css" />


  <link href="https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <!-- this class gives the attributes the same style -->
    <div class="login-container">
      <div class="login-Header ">





        <a href="/"><img src="img/Two Small Flowers with Logo 1.png" class="reset-flower-page-8" height="300pxpx"
            width="300px" ; /></a>

      </div>



      <h1 class="whoop-whoop-page-9">Whoop Whoop!</h1>
      <h1 class="welldone-back-page-9">Well Done.</h1>








      {{!-- </div> --}}



      <h4 class="welcome-back-quote-page-10">Your Password has been successfully reset!</h4>

      <div class="logins-button-container-page-10">
        <button class="whoop-login button" onclick="location.href='1-signin'">Login </button>
        {{!-- <button class="button button2 page-9" onclick="location.href='index'">Log Out </button> --}}
        {{!-- <button class="button button2 page-9" onclick="location.href='index'">Log out </button> --}}

      </div>

      <h1 class="login-strap-name9"> "Your Food At it's Best"</h1>


    </div>


  </div>
  </div>





  </div>
  </div>



</body>

</html