<div class="container">
    <!-- this class gives the attributes the same style -->
    <div class="login"><a href="2-login-page.html"></a>
        <img src="img/Two Small Flowers with Logo 1.png" height="400px" width="400px" ; />
        <div class="fmn-text">
            <h1 class="site-name">Forget Me Not.</h1>

            <p class="first-paragraph" style="font-size:25px">So you’ve been shopping and spent your hard earned cash on
                a great deal of food, and like us you hardly think about their sell by dates once they're sat in your
                fridge, freezer or pantry and before you’ve had chance to turn them in to a satisfying meal, your foods
                gone off, out of date, wasting food, time and your money, and what do we all do next, we simply chuck
                them away …well Forget Me Not is here to help you, with just a few simple clicks you can organise your
                eating habits, meals and help fight against food waste.</p>

            <p class="second-paragraph" style="font-size:25px">Forget Me Not will not only inform you of when and what food you have
                to eat, but will let you know before it’s out of date, hopefully saveing you money and the environment all that waste, click
                Sign Up to create your account, or Login if you already have one, you have nothing to loose and
                everything to gain.</p>

            <button class="button button1" onclick="location.href='7-accounts-page'">Sign Up </button>
            <button class="button button1" onclick="location.href='1-signin'">Login </button>

            <h1 class="strap-name"> "Your Food At it's Best"</h1>




        </div>


    </div>
</div>